<div class="row">
  <div class="span4">
    <h2>Barra de Navegaci&oacute;n</h2>
  </div>
  <div class="span8">
    <div class="jumbotron">
        <h1>Curso de Ruby on Rails</h1>
        <p>
          Aplicando Ruby on Rails: Wiston Angarita
          <%= link_to "Enlace a Oja.la", "http://oja.la"  %>
          <%= link_to "Enlace a Ruby", "http://rubyonrails.org" %>
        </p>

         <p>
           <%= link_to "Registrarse", "#", :class => "btn btn-primary btn-lg" %>
         </p>
    </div>
  </div>
</div>


